<div class="view-dropdown">
    <mat-label>View: </mat-label>
    <mat-form-field appearance="fill">
      <mat-select matNativeControl (selectionChange)="onChange($event)" required>
        <mat-option value="option1">2024</mat-option>
        <mat-option value="option2">2023</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

<div class="stats">
  <div>
    <p>Vacation</p>
    <p>XXX</p>
  </div>
  <div>
    <p>Sick Leaves</p>
    <p>XXX</p>
  </div>
  <div>
    <p>Personal Leaves</p>
    <p>XXX</p>
  </div>
</div>
<!-- <app-bar-chart></app-bar-chart> -->
<app-stacked-columns-chart></app-stacked-columns-chart>
<app-calendar></app-calendar>