<p>content-dashboard works!</p>
<div class="view-dropdown">
    <mat-label>View: </mat-label>
    <mat-form-field appearance="fill">
      <select matNativeControl required>
        <option value="notselected">Select Year</option>
        <option value="option1">2024</option>
        <option value="option2">2023</option>
      </select>
    </mat-form-field>
  </div>
<div class="stats">
  <div>
    <p>Vacation</p>
    <p>XXX</p>
  </div>
  <div>
    <p>Sick Leaves</p>
    <p>XXX</p>
  </div>
  <div>
    <p>Personal Leaves</p>
    <p>XXX</p>
  </div>
</div>
<app-bar-chart></app-bar-chart>